<h1>{{ class.name }}</h1>


<h2>Constructor</h2>

<table class="params-table">
    <thead>
        <tr>
            <th colspan="3">{{ class.signature }}</th>
        </tr>

        {% if class.params.length %}<tr>
            <th colspan="3">Params</th>
        </tr>{% endif %}
    </thead>

    {% if class.params.length %}<tbody>
        {% for param in class.params %}<tr>
            <td><strong>{{ param.name }}</strong></td>
            <td>{% for type in param.type %}<code>{{ type }}</code>{% endfor %}</td>
            <td>{{ param.description }}</td>
        </tr>{% endfor %}
    </tbody>{% endif %}

    {% if class.returns.length %}
    <tbody class="return">
        {% for param in class.returns %}<tr>
            <td><strong>Return</strong></td>
            <td>{% for type in param.type %}<code>{{ type }}</code>{% endfor %}</td>
            <td>{{ param.description }}</td>
        </tr>{% endfor %}
    </tbody>{% endif %}
</table>


<h2>Methods</h2>

{% for method in methods %}
<table class="params-table">
    <thead>
        <tr>
            <th colspan="3">
                <strong>{{ method.signature }}</strong>
                {{ method.description }}
            </th>
        </tr>

        {% if method.params.length %}<tr>
            <th colspan="3">Params</th>
        </tr>{% endif %}
    </thead>

    {% if method.params.length %}<tbody>
        {% for param in method.params %}<tr>
            <td><strong>{{ param.name }}</strong></td>
            <td>{% for type in param.type %}<code>{{ type }}</code>{% endfor %}</td>
            <td>{{ param.description }}</td>
        </tr>{% endfor %}
    </tbody>{% endif %}

    {% if class.returns.length %}<tbody class="return">
        {% for param in class.returns %}<tr>
            <td><strong>Return</strong></td>
            <td>{% for type in param.type %}<code>{{ type }}</code>{% endfor %}</td>
            <td>{{ param.description }}</td>
        </tr>{% endfor %}
    </tbody>{% endif %}
</table>
{% endfor %}
