{% extends "_templates/page.html" %}

{% block body %}
    {% include "_templates/header.html" %}

    <aside>
        <nav>
            <strong>Router5</strong>

            <a href="/docs/why-router5.html" class="link{% if whyRouter5 %} active{% endif %}">Why router5?</a>
            <a href="/docs/understanding-router5.html" class="link{% if understanding %} active{% endif %}">Understanding router5</a>
            <a href="/docs/get-started.html" class="link{% if getStarted %} active{% endif %}">Getting started</a>
            <a href="/docs/migration.html" class="link{% if migration %} active{% endif %}">Migrating from 0.x</a>
            <a href="/docs/api-reference.html" class="link{% if apiRef %} active{% endif %}">Router5 API</a>
            <a href="/docs/ecosystem.html" class="link{% if ecosystem %} active{% endif %}">Ecosystem</a>

            <strong>Guides</strong>

            <a href="/docs/configuring-routes.html" class="link{% if confRoutes %} active{% endif %}">Configuring routes</a>
            <a href="/docs/router-options.html" class="link{% if options %} active{% endif %}">Router options</a>
            <a href="/docs/path-syntax.html" class="link{% if pathSyntax %} active{% endif %}">Path syntax</a>
            <a href="/docs/navigation.html" class="link{% if navigation %} active{% endif %}">Navigation</a>
            <a href="/docs/preventing-navigation.html" class="link{% if preventNav %} active{% endif %}">Preventing navigation</a>
            <a href="/docs/transition.html" class="link{% if transition %} active{% endif %}">Transition phase</a>
            <a href="/docs/middleware.html" class="link{% if middleware %} active{% endif %}">Middleware functions</a>
            <a href="/docs/plugins.html" class="link{% if usePlugins %} active{% endif %}">Using plugins</a>
            <a href="/docs/universal-applications.html" class="link{% if universal %} active{% endif %}">Universal applications</a>
            <a href="/docs/async-data.html" class="link{% if asyncData %} active{% endif %}">Loading async data</a>

            <strong>Plugins</strong>

            <a href="/docs/listeners.html" class="link{% if listeners %} active{% endif %}">Listeners</a>
            <a href="/docs/history.html" class="link{% if history %} active{% endif %}">History</a>

            <strong>Examples</strong>

            <a href="/docs/with-react.html" class="link{% if react %} active{% endif %}">With React</a>
            <a href="/docs/with-react-redux.html" class="link{% if reactRedux %} active{% endif %}">With React and Redux</a>
            <a href="/docs/with-deku.html" class="link{% if deku %} active{% endif %}">With Deku</a>
            <a href="/docs/with-deku-redux.html" class="link{% if dekuRedux %} active{% endif %}">With Deku and Redux</a>
        </nav>
    </aside>

    <main>
        {{ article }}
    </main>

    {% include "_templates/footer.html" %}

    <!-- Scripts -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {% for script in scripts %}<script src="{{script}}"></script>
    {% endfor %}

{% endblock %}
