{% extends "_templates/page.html" %}

{% block body %}
    {% include "_templates/header.html" %}

    <aside>
        <nav>
            <a href="/docs/why-router5.html" class="link{% if whyRouter5 %} active{% endif %}">Why router5?</a>
            <a href="/docs/get-started.html" class="link{% if getStarted %} active{% endif %}">Getting started</a>

            <strong>Guides</strong>

            <a href="/docs/configuring-routes.html" class="link{% if confRoutes %} active{% endif %}">Configuring routes</a>
            <a href="/docs/path-syntax.html" class="link{% if pathSyntax %} active{% endif %}">Path syntax</a>
            <a href="/docs/navigation.html" class="link{% if navigation %} active{% endif %}">Navigation</a>
            <a href="/docs/listeners.html" class="link{% if listeners %} active{% endif %}">Listeners</a>
            <a href="/docs/preventing-navigation.html" class="link{% if preventNav %} active{% endif %}">Allowing navigation</a>

            <strong>API Reference</strong>

            <a href="/docs/api-reference.html" class="link{% if apiRef %} active{% endif %}">Router5</a>

            <strong>Integration</strong>

            <a href="/docs/with-react.html" class="link{% if react %} active{% endif %}">With React</a>
            <a href="/docs/with-deku.html" class="link{% if deku %} active{% endif %}">With Deku</a>
        </nav>
    </aside>

    <main>
        {{ article }}
    </main>

    {% include "_templates/footer.html" %}

    <!-- Scripts -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {% for script in scripts %}<script src="{{script}}"></script>
    {% endfor %}

{% endblock %}
