{% extends "_templates/page.html" %}

{% block body %}
    {% include "_templates/header.html" %}

    <aside>
        <nav>
            <a href="/docs/why-router5.html" class="link{% if whyRouter5 %} active{% endif %}">Why router5?</a>
            <a href="/docs/get-started.html" class="link{% if getStarted %} active{% endif %}">Getting started</a>

            <strong>Guides</strong>

            <a href="/docs/configuring-routes.html" class="link{% if confRoutes %} active{% endif %}">Configuring routes</a>

            <strong>API</strong>
        </nav>
    </aside>

    <main>
        {{ article }}
    </main>

    {% include "_templates/footer.html" %}

    <!-- Scripts -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <script src="/assets/router5.0.0.1-alpha.9.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

{% endblock %}
