{% set navClassName = 'index' %}

{% extends "_templates/page.html" %}

{% block body %}
    {% include "_templates/header.html" %}

    <main class="jumbotron">
        <img src="/logo/r5_128.png" class="logo">

        <h1><span class="highlight">router5</span> <span class="lowlight">//</span> Functional, flexible and powerful routing solution</h1>

        <div>
            <a href="https://github.com/router5/router5/tree/router5%40{{ router5Version }}/dist"  class="btn" download>Download (v{{ router5Version }})</a>

            <a href="/docs/installation.html" class="btn">Install with npm or yarn</a>
        </div>
    </main>

    <section>
        <section class="principles">
            <h2><span class="highlight">principles</span> <span class="lowlight">//</span> just a router</h2>

            <ul>
                <li>Implementation and framework agnostic</li>
                <li>No inversion of control</li>
                <li>Designed for component trees</li>
                <li>Route updates are data updates</li>
            <ul>
        </section>

        <section class="features">
            <h2><span class="highlight">features</span> <span class="lowlight">//</span> a toolbox for your app</h2>

            <ul>
                <li>Nested routes with high performance matching</li>
                <li>Allow or prevent activation and deactivation</li>
                <li>Extensible with middleware and plugins</li>
                <li>Universal JavaScript support</li>
            <ul>
        </section>
    </section>

    <section>
        <div id="svgRouteTree">
            <style>
                .node circle {
                  fill: #fff;
                  stroke: #336699;
                  stroke-width: 4px;
                  cursor: pointer;
                }

                .node {
                  font-size: 14px;
                }

                .node.active circle {
                  stroke: rgb(166, 226, 46);
                }

                .node.active.apex circle {
                  stroke: rgb(166, 226, 46);
                  fill: #999;
                }

                .node.deactivated circle {
                  stroke: #999;
                }

                .node.active.match circle {
                  fill: rgb(166, 226, 46);
                  cursor: default;
                }

                .link {
                  fill: none;
                  stroke: #336699;
                  stroke-width: 3px;
                }

                .link.active {
                  stroke: rgb(166, 226, 46);
                }

                .link.deactivated {
                  stroke: #999;
                }
            </style>
        </div>
    </section>

    {% include "_templates/footer.html" %}

    <!-- Scripts -->

    <script src="/assets/router5.{{ router5Version }}.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/languages/javascript.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="/assets/draw-graph.js"></script>

{% endblock %}
