aside {
    padding-top: 1.75rem;
    background-color: #f5f5f5;
    padding: 1rem 0;
}

aside > nav > strong,
aside > nav > a {
    display: block;
    font-weight: 600;
}

aside > nav > a.link {
    color: inherit;
    padding: 0.2rem 1rem;
}

aside > nav > a.link:hover,
aside > nav > a.link:focus,
aside > nav > a.link.active {
    color: #E70756;
}

aside > nav > strong {
    text-transform: uppercase;
    color: #336699;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

aside + main {
    padding: 1rem 1.5rem;
    max-width: 900px;
}

aside + main > p {
    text-align: justify;
}

aside + main img {
    display: block;
    margin: 0 auto;
}

@media (min-width: 800px) {
    body {
        padding-left: 320px;
    }

    aside {
        position: fixed;
        z-index: 1;
        top: 60px;
        width: 300px;
        bottom: 0;
        left: 0;
        border-right: 1px solid #eee;
        background-color: #fff;
        padding: 1.75rem 0;
    }


}
