aside {
    padding-top: 1.75rem;
    background-color: #f5f5f5;
    padding: 1rem 0;
    font-size: 0.9rem;
}

aside > nav > strong,
aside > nav > a {
    display: block;
    font-weight: 600;
}

aside > nav > a.link {
    color: inherit;
    padding: 0.2rem 1rem;
}

aside > nav > a.link:hover,
aside > nav > a.link:focus,
aside > nav > a.link.active {
    color: #E70756;
}

aside > nav > strong {
    text-transform: uppercase;
    color: #336699;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

aside + main {
    padding: 1rem 2.5rem 1rem 1.5rem;
    max-width: 900px;
}

aside + main > p {
    text-align: justify;
}

aside + main img {
    display: block;
    margin: 0 auto;
}

@media (min-width: 800px) {
    body {
        padding-left: 320px;
    }

    aside {
        position: fixed;
        z-index: 1;
        top: 60px;
        width: 300px;
        bottom: 0;
        left: 0;
        border-right: 1px solid #eee;
        background-color: #fff;
        padding: 1.75rem 0;
    }
}

table.params-table {
    width: 100%;
    font-size: 0.9rem;
    display: block;
    border: 1px solid #eee;
}

table.params-table + table.params-table {
    margin-top: 1.5rem;
}

table.params-table,
table.params-table > thead,
table.params-table > thead > tr,
table.params-table > thead > tr > th,
table.params-table > tbody,
table.params-table > tbody > tr,
table.params-table > tbody > tr > td {
    display: block;
}

table.params-table > thead > tr > th {
    text-align: left;
    padding: 0.2rem 0.8rem;
}

table.params-table > thead:first-child > tr:nth-child(2) > th,
table.params-table > tbody.return > tr > td,
table.params-table > tbody.return > tr > td > code {
    background-color: #f2f2f2;
    font-size: 0.85rem;
}

table.params-table > thead:first-child > tr:first-child > th {
    font-weight: normal;
    font-size: 0.85rem;
}

table.params-table > thead:first-child > tr:first-child > th > strong {
    color: #336699;
    display: block;
    font-size: 1rem;
}

table.params-table > tbody > tr {
    display: flex;
    flex-direction: row;
}

table.params-table > tbody > tr > td {
    padding: 0.2rem 0.8rem;
    font-size: 0.85rem;
}

table.params-table > tbody > tr:nth-child(2n) > td {
    background-color: #f8f8f8;
}

table.params-table > tbody > tr > td:nth-child(1),
table.params-table > tbody > tr > td:nth-child(2) {
    flex: 1;
}

table.params-table > tbody > tr > td:nth-child(3) {
    flex: 6;
}

table.params-table > tbody > tr > td:nth-child(1) {
    color: rgb(148, 192, 60);
}

table.params-table > tbody.return > tr > td:nth-child(1) {
    color: inherit;
}
