body, html {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
    color: #333;
}

a {
    color: #E70756;
    text-decoration: none;
}

a.link:hover, a.link:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    color: #fff;
    background-color: #555;
    line-height: 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover, .btn:focus {
    background-color: #E70756;
}

.btn + .btn {
    margin-left: 0.7rem;
}

h1, h2, h3 {
    font-size: 1.4rem;
}

p {
    /*margin: 0;*/
}

blockquote {
    text-align: center;
    margin: 0;
}

body {
    padding-top: 60px;
}

body > header {
    background-color: #555;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 60px;
    left: 0;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.17);
}

body > header > nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

body > header > nav > a {
    display: inline-block;
    padding: 16px 0.5rem;
    color: white;
}

body > header > nav > a[href]:hover {
    text-decoration: none;
    background-color: #777;
}

body > main.jumbotron {
    background-color: #336699;
    color: white;
    /*width: 100%;*/
    text-align: center;
    padding: 2rem 1rem 1rem;
}

body > main.jumbotron > blockquote {
    padding: 0.2rem;
}

body > main.jumbotron > div {
    padding: 1rem;
}

body > section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

body > section > blockquote {
    font-weight: 600;
    padding: 1rem;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    background-color: #fcfcfc;
}

body > section > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body > section > ul > li {
    padding: 0.5rem 1rem 0.75rem;
    text-align: justify;
}

body > section > ul > li > a:first-child {
    display: block;
    text-align: center;
    line-height: 2rem;
}

body > footer {
    font-size: 0.8rem;
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
}

code {
    font-size: 14px;
    line-height: 1.4em;
}

@media (min-width: 800px) {
    body > section > ul {
        display: flex;
        flex-direction: row;
    }

    body > section > ul > li {
        flex: 1;
    }

    body > section:not(.no-v-border) > ul > li {
        border-left:  1px solid #F1F1F1;
        border-right: 1px solid #FAFAFA;
    }

    body > section > ul > li:first-child { border-left: none; }
    body > section > ul > li:last-child  { border-right: none; }
}

#svgRouteTree svg {
    display: block;
    margin: 0 auto;
}

code.javascript.hljs {
    background-color: #555;
    box-shadow: 0 0 4px 2px rgba(85, 85, 85, 0.1);
}
