    <header>
        <nav>
            <a href="/" class="{% if home %}active{% endif %}">Home</a>

            <a href="/docs/why-router5.html" class="{% if whyRouter5 %}active{% endif %}">Why router5?</a>

            <a href="/docs/get-started.html" class="{% if getStarted %}active{% endif %}">Get started</a>

            <a href="/docs/configuring-routes.html" class="{% if docs %}active{% endif %}">Guides</a>

            <a href="/docs/configuring-routes.html" class="{% if apiRef %}active{% endif %}">API</a>

            <!-- <a href="/examples.html">Examples</a> -->

            <a href="https://github.com/router5/router5" target="_blank">See it on Github</a>
        </nav>
    </header>
