    <header>
        <nav class="{{navClassName}}">
            <a href="/" class="{% if home %}active{% endif %}">Home</a>

            <a href="/docs/understanding-router5.html" class="{% if understanding %}active{% endif %}">Key concepts</a>

            <a href="/docs/installation.html" class="{% if getStarted %}active{% endif %}">Get started</a>

            <a href="/docs/configuring-routes.html" class="{% if docs %}active{% endif %}">Guides</a>

            <a href="/docs/listeners.html" class="{% if plugins %}active{% endif %}">Plugins</a>

            <a href="/docs/api-reference.html" class="{% if apiRef %}active{% endif %}">API</a>

            <a href="docs/with-react.html" class="{% if examples %}active{% endif %}">Examples</a>

            <iframe src="https://ghbtns.com/github-btn.html?user=router5&repo=router5&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        </nav>
    </header>
