    <header>
        <nav class="{{navClassName}}">
            <a href="/" class="{% if home %}active{% endif %}">Home</a>

            <!-- <a href="/docs/why-router5.html" class="{% if whyRouter5 %}active{% endif %}">Why router5?</a> -->

            <a href="/docs/get-started.html" class="{% if getStarted %}active{% endif %}">Get started</a>

            <a href="/docs/configuring-routes.html" class="{% if docs %}active{% endif %}">Guides</a>

            <a href="/docs/listeners.html" class="{% if plugins %}active{% endif %}">Plugins</a>

            <a href="/docs/api-reference.html" class="{% if apiRef %}active{% endif %}">API</a>

            <a href="docs/with-react.html" class="{% if examples %}active{% endif %}">Examples</a>

            <iframe src="https://ghbtns.com/github-btn.html?user=router5&repo=router5&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        </nav>
    </header>
