body, html {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
    color: #000;
}

a {
    color: #336699;
    text-decoration: none;
}

a.link:hover, a.link:hover {
    text-decoration: underline;
}

.highlight {
    color: #E70756;
}

.lowlight {
    color: #AAA;
}

blockquote {
    border-left: 3px solid #336699;
    background-color: rgba(51, 102, 153, 0.1);
    margin: 1rem 0;
    padding: 0.5rem 1rem;
}

blockquote > p {
    margin: 0;
    padding: 0;
}

.btn {
    display: inline-block;
    color: #fff;
    background-color: #336699;
    line-height: 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: 600;
    width: 240px;
}

.btn:hover, .btn:focus {
    background-color: #E70756;
}

h1 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h2 {
    font-size: 1.2rem;
    margin: 2.5rem 0 1.8rem;
}

h3 {
    font-size: 1rem;
}

p {
    /*margin: 0;*/
    text-indent: 0;
}

p > code,
li > code,
td > code {
    color: #336699;
    line-height: 1.5rem;
    font-size: 0.9rem;
    background-color: #f8f8f8;
    padding: 0 0.3rem;
    margin: 0 0.1rem;
    display: inline-block;
}

body > header {
    font-size: 0.9rem;
}

body > header > nav {
    width: 100%;
}

body > header > nav > a {
    display: block;
    padding: 0.5rem 1rem;
    color: #000;
}

body > header > nav > iframe {
    display: none;
}

body > header > nav > a:hover,
/*body > header > nav > a:focus,*/
body > header > nav > a.active {
    text-decoration: none;
}

body > main.jumbotron {
    text-align: center;
    padding: 2rem 1rem 1rem;
}

body > main.jumbotron > img.logo {
    display: block;
    width: 128px;
    margin: 0 auto;
}

body > main.jumbotron > div {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body > main.jumbotron > div > .btn + .btn {
    margin-top: 1rem;
}

body > section {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#svgRouteTree {
    width: 100%;
}

body > section ul {
    list-style: none;
    padding: 0;
}

body > section ul > li::before {
    content: '\2714';
    color: #336699;
    margin-right: 0.5rem;
}

body > section ul > li {
    line-height: 2.2rem;
}

body > footer {
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    max-width: 900px;
}

body > footer.index {
    margin-left: auto;
    margin-right: auto;
}

code {
    font-size: 0.9rem;
    line-height: 1.5em;
}

@media (min-width: 840px) {
    body {
        padding-top: 60px;
    }

    body > header {
        position: fixed;
        top: 0;
        right: 0;
        height: 52px;
        left: 0;
        z-index: 2;
        background-color: #fff;
        transition: box-shadow 0.5s;
    }

    body.scrolled > header {
        box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.17);
    }

    body > header > nav {
        padding: 0 1rem;
        position: relative;
        max-width: 1240px;
    }

    body > header > nav.index {
        margin: 0 auto;
        max-width: 900px;
    }

    body > header > nav > a {
        display: inline-block;
        padding: 16px 0.5rem 6px 0.5rem;
        border-bottom: 3px solid white;
        transition: border-bottom 0.5s;
    }

    body > header > nav > a:hover,
    body > header > nav > a.active {
        border-bottom: 3px solid #336699;
    }

    body > header > nav > iframe {
        display: block;
        position: absolute;
        top: 19px;
        right: 0;
    }

    body > main.jumbotron > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    body > main.jumbotron > div > .btn + .btn {
        margin-top: 0;
        margin-left: 1rem;
    }

    body > section {
        max-width: 900px;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    #svgRouteTree {
        flex: 1;
    }
}

#svgRouteTree svg {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

code.hljs {
    background-color: #f8f8f8;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
}

code.hljs.home {
    background-color: #555;
    box-shadow: 0 0 4px 2px rgba(85, 85, 85, 0.1);
}

.hljs-comment {
    color: #999;
}
