body, html {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
    color: #333;
}

a {
    color: #E70756;
    text-decoration: none;
}

a.link:hover, a.link:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    color: #fff;
    background-color: #555;
    line-height: 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover, .btn:focus {
    background-color: #E70756;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
    margin: 2.5rem 0 1.8rem;
}

h3 {
    font-size: 1rem;
}

p {
    /*margin: 0;*/
    text-indent: 0;
}

blockquote {
    text-align: left;
    margin: 0;
}

p > code,
li > code,
td > code {
    color: #336699;
    line-height: 1.5rem;
    font-size: 0.9rem;
    background-color: #f8f8f8;
    padding: 0 0.3rem;
    margin: 0 0.1rem;
    display: inline-block;
}

body > header {
    background-color: #555;
    color: white;
    font-size: 0.9rem;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.17);
}

body > header > nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

body > header > nav > a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
}

body > header > nav > iframe {
    display: none;
}

body > header > nav > a:hover,
/*body > header > nav > a:focus,*/
body > header > nav > a.active {
    text-decoration: none;
    background-color: #777;
}

body > main.jumbotron {
    background-color: #336699;
    color: white;
    /*width: 100%;*/
    text-align: center;
    padding: 2rem 1rem 1rem;
}

body > main.jumbotron > blockquote {
    padding: 0.2rem;
}

body > main.jumbotron > div {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body > main.jumbotron > div > .btn + .btn {
    margin-top: 1rem;
}

body > section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

body > section > blockquote {
    font-weight: 600;
    padding: 1rem;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    background-color: #fcfcfc;
}

body > section > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body > section > ul > li {
    padding: 0.5rem 1rem 0.75rem;
    text-align: justify;
}

body > section > ul > li > a:first-child {
    display: block;
    text-align: center;
    line-height: 2rem;
}

body > footer {
    font-size: 0.8rem;
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
}

code {
    font-size: 0.9rem;
    line-height: 1.5em;
}

@media (min-width: 840px) {
    body {
        padding-top: 60px;
    }

    body > header {
        position: fixed;
        top: 0;
        right: 0;
        height: 60px;
        left: 0;
        z-index: 2;
    }

    body > header > nav {
        padding: 0 1rem;
        position: relative;
    }

    body > header > nav > a {
        display: inline-block;
        padding: 16px 0.5rem;
    }

    body > header > nav > iframe {
        display: block;
        position: absolute;
        top: 19px;
        right: 0;
    }

    body > main.jumbotron > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    body > main.jumbotron > div > .btn + .btn {
        margin-top: 0;
        margin-left: 1rem;
    }

    body > section > ul {
        display: flex;
        flex-direction: row;
    }

    body > section > ul > li {
        flex: 1;
    }

    body > section:not(.no-v-border) > ul > li {
        border-left:  1px solid #F1F1F1;
        border-right: 1px solid #FAFAFA;
    }

    body > section > ul > li:first-child { border-left: none; }
    body > section > ul > li:last-child  { border-right: none; }
}

#svgRouteTree svg {
    display: block;
    margin: 0 auto;
}

code.hljs {
    background-color: #f8f8f8;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
}

code.hljs.home {
    background-color: #555;
    box-shadow: 0 0 4px 2px rgba(85, 85, 85, 0.1);
}

.hljs-comment {
    color: #999;
}
